.first-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo-style {
  width: 100px;
  margin-bottom: 10px;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.start-button {
  /* transform: translateY(100%); */
  opacity: 1;
  /* transition: transform 0.5s, opacity 0.5s; */
}

.start-button.bounce-button {
  animation: bounce 0.5s linear infinite;
}

/* .show-button {
  transform: translateY(0); 
  opacity: 1;
  animation: slide-up 0.5s forwards; 
} */
