.main-container{
  background-color: #1c68b7;
  padding-top: 8px;
  max-width: 1200px;
}
@media (max-width: 425px) {
  .main-container{
    padding-top: 0;
  }
}

@media (max-width: 320px) {
  .main-container{
    margin-top: -10px;
    margin-inline: 5px;
  }
}

@media(min-width: 1440px){
  .main-container{
    margin-inline: auto;
  }
}